.canty {
  position: relative;
  width: 100%;
  height: 800px;
  background: rgb(168, 221, 222);
}

.canty_name {
  width: 400px;
  height: 42vh;
  background: rgb(13, 13, 12);
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.container {
  text-align: center;
  justify-content: center;
  text-align: center;
  color: rgb(13, 13, 17);
  padding: 44px;
}

#city {
  justify-content: center;
  text-align: center;
  font-size: 33px;
}
input {
  width: 100%;
  height: 26%;
  font-size: 20px;
  padding: 5px;
  background: #ffff;
  outline: none;
  border: 1px solid black;
  border-radius: 7px;
}

h1 {
  color: aliceblue;
}

h3 {
  color: #ffff;
}

h4 {
  color: #ffff;
}

button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  color: rgb(24, 25, 26);

  margin-top: 10px;
  border: 1px solid rgb(25, 24, 24);
  border-radius: 5px;
}

#submit-btn {
  padding: 5px 5px 26px;
  color: #000;
  background: #ffff;
}

#temp {
  color: #ffff;
  font-size: 23px;
}
